# Core functionality - changes here should be rare!
/src/app.py                   @pranavhalgekar
/src/backend/database.py      @pranavhalgekar
/src/backend/routers/auth.py  @pranavhalgekar

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pranavhalgekar
